<div class="scol one-quarter report-filter">
	<div class="srow">
		<b><%= filter.label.humanize %></b>
	</div>
	<div class="srow">
		<div class="scol">
		  from<br>
		  <%= date_field_tag "#{filter.param}_from",
		            params["#{filter.param}_from"],
		            data: {date_picker: 'true'},
		            class: 'string input-small',
		            id: "#{filter.param}_start_date" %>
		</div>
		<div class="scol">
		  to<br>
		  <%= date_field_tag "#{filter.param}_until",
		          params["#{filter.param}_until"],
		          data: {date_picker: 'true'},
		          class: 'string input-small',
		          id: "#{filter.param}_end_date" %>
		</div>
	</div>
</div>