<div class="scol one-quarter report-filter">
	<div class="srow">
		<b><%= filter.label.humanize %></b>
	</div>
	<div class="srow">
		<div class="scol">
		  min<br>
		  <%= text_field_tag "#{filter.param}_min",
		            params["#{filter.param}_min"],
		            class: 'string input-small',
		            id: "#{filter.param}_min" %>
		</div>
		<div class="scol">
		  max<br>
		  <%= text_field_tag "#{filter.param}_max",
		          params["#{filter.param}_max"],
		          class: 'string input-small',
		          id: "#{filter.param}_max" %>
		</div>
	</div>
</div>