<div class="scol one-quarter report-filter">
	<div class="srow">
		<b><%= filter.param.humanize %></b>
	</div>
	<div class="srow">
		<% options = case filter.collection.class.name
			 when 'String', 'Symbol'
			   clark_kent_user.send(filter.collection)
			 when 'Array'
			   filter.collection
			 end %>
		<%= select_tag filter.param,
			options_from_collection_for_select(
				options,
				(select_value_method(filter.param,options.first)),
				(select_text_method(filter.param,options.first)),
				params[filter.param]), {include_blank: true}.merge((options.length > 25) ? {'data-autocomplete' => true} : {}) %>

	</div>
</div>