<div class="scol one-quarter report-filter">
	<div class="srow">
		<b><%= filter.param.humanize %></b>
	</div>
	<div class="srow">
		<%= text_field_tag filter.param, params[filter.param] %>

	</div>
</div>