<h1>Reports</h1>
<% ClarkKent::Report.all.each do |report| %>
  <%= link_to report.name, report_url(report) %> <%= link_to '(edit)', edit_report_url(report) %><br>
<% end %>
<hr>
<div id="controls">
  <%= link_to "create a new report", new_report_path %>
</div>