<h1>Create a new report.</h1>
<%= link_to "&larr; back to report index".html_safe, reports_url %>


<div class="srow margin-top">
	<div id="report_info_container">
		<%= render partial: 'edit' %>
	</div>
</div>
